<div class="card">
    <div class="card-body">
        <h3 class="card-title">
            <%= post.user.name %>
             </h3>
             <div class="card-info">
                 <div>
                     Tue 28 Jun 2020
                 </div>
                 
                 <div>
                     11:30 AM
                 </div>
             </div>
            <p class="card-text">
                <%= post.content %>
            </p>
            
            <hr>
            <div class="container">
                <a href=""><i class="far fa-heart"></i></a>
                <a href="#collapseExample" data-toggle = "collapse" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-comment"></i></a>
                <a href=""><i class="fab fa-telegram-plane"></i></a>

            </div>
            <div class="collapse" id="collapseExample">
                <p>Please Login to See Comment</p>
</div>
             
    </div>
</div>


<li>
       
        <div class="post-comments">
            <% if (locals.user){ %>
                <form action="/comments/create" method="POST">
                    <input type="text" name="content" placeholder="Type Here to add comment..." required>
                    <input type="hidden" name="post" value="<%= post._id %>" >
                    <input type="submit" value="Add Comment">
                </form>

            <% } %>

            <div class="post-comments-list">
                
                <ul id="post-comments-<%= post._id %>">
                    <% for (comment of post.comments){%>

                     <%- include('_comment') -%>
                        
                    
                    <%} %>
                </ul>
            </div>
        </div>
        
    </li>


    <p>
            <% if (locals.user && locals.user.id == post.user.id){ %>
            <small>
                <a href="/posts/destroy/<%= post.id %>">X</a>
            </small>
            <% } %>
        </p>