

 <section id="feed-post">

     <% if(locals.user){ %>
     <form action="/posts/create" id="new-post-form" method="POST">
         <textarea name="content" id="new-post-content" cols="30" rows="3" placeholder="Type Here...." required></textarea>
         <input type="submit" value="Post">
     </form>
     <% } %>

     <div id="post-list-container">

         <ul>
             <% for(post of posts){ %>
           
                <div class="user-name"> <%= post.user.name %>
                </div>
                
   
                <li class="post-list">
                    <p>
                        <%= post.content%>
                    </p>
                     <div class="post-time">
                        11:30 AM
                    </div>
                    <hr>
                   
                  
                        
                            
                        
                    </div>
    </div>
                    <div class="post-comments">
                        <% if (locals.user){ %>
                        <form action="/comments/create" method="POST">
                            <input type="text" name="content" placeholder=" Type Here to add comment..." required>
                            <input type="hidden" name="post" value="<%= post._id %>">
                            <input type="submit" value="Add Comment">


                        </form>
                        <% } %>

                        <div class="post-comment-list">
                            <ul id="post-comment-<%= post._id %>">
                                <%  for(comment of post.comments){ %>
                                    <p>
                                        <%= comment.content %>
                                        <br>
                                            <%= comment.user.name %>
                                    
                                    </p>
                                    <% } %>
                            </ul>

                        </div>

                    </div>

                </li>

                <% } %>
         </ul>
        
     </div>
 </section>


 